    
    h1 {
        font-size:250%;
        font-variant:small-caps;
        text-align:center;
        text-decoration:underline overline;
        text-shadow: 5px 2px 4px #DDDDDD;
    }
      
    h2 {
        font-variant:small-caps;
        text-shadow: 5px 2px 4px #DDDDDD
    }
      
    #Welcome .first strong {
        color:red;
    }
      
    body {
        font-family: Tahoma;
    }
      
    ul {
        font-style:italic;
    }
    
    form {
        vertical-align:top;
        display:table-cell;
    }